#background
{
	background-image: url('wallpaper/highres/wallpaper-2984252.jpg');
}

#background.hue-anim-end
{
	-webkit-filter: hue-rotate(360deg);
}

#background.hue-anim
{
	transition: -webkit-filter 50s ease-in;
}

.container-bottom
{
	background: url('approw-bg.png');
	height: 126px;
}